version: "0.4.0"
entryPoint: "main"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.11.0.min.js"
  "https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"
]
dependencies:
  cson: "distri/cson:v0.1.0"
