version: "0.3.9"
entryPoint: "main"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.10.1.min.js"
  "https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"
]
dependencies:
  cson: "distri/cson:v0.1.0"
  "haml-jr": "distri/haml-jr:v0.2.2"
